*,
html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('./assets/fonts/Satoshi-Bold.woff2') format('woff2'),
        url('.assets//fonts/Satoshi-Bold.woff') format('woff'),
        url('./assets/fonts/Satoshi-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi-Medium';
    src: url('./assets/fonts/Satoshi-Medium.woff2') format('woff2'),
        url('./assets/fonts/Satoshi-Medium.woff') format('woff'),
        url('./assets/fonts/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

body {
    background-color: #e8e8e8;
}

.desktop {
    display: none;
}

.container .notif {
    height: 100vh;
    display: flex;
    align-items: center;
}

.text-desktop {
    font-family: 'Satoshi-Medium';
    border-radius: 1em;
    padding: 1em;
    text-shadow: 1px 2px #222222, -1px -2px salmon;
    box-shadow: 0 0 1em .5em #333;
}

.container-fluid {
    /* background-color: #a2a2a2; */
    background-color: #e8e8e8;
}

.nav-container {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}

.contact {
    font-family: 'Satoshi-Medium';
    font-weight: 500;
    font-display: swap;
    font-style: normal;

}

.nav-list {
    /* background-color: salmon; */
    position: relative;

    display: flex;
    width: 50%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.nav-list li a {
    font-size: 12px;
    font-variant-caps: small-caps;
    color: #333;
    border-radius: 20px;
    text-decoration: none;
    letter-spacing: 1.2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.contact {
    /* background-color: aquamarine; */
    width: 160px;
    height: 20px;
    font-size: 13px;
    text-align: center;
    border-bottom: 1px solid #333;

}

.contact a {
    text-decoration: none;
    color: #333;
    height: 20px;
    word-spacing: 4px;
}



.description {
    text-align: center;
    font-size: 3em;
    font-family: 'Satoshi-Bold';
    font-weight: 700;
    font-display: swap;
    font-style: normal;

}

.gmail-desk {
    text-decoration: none;
    color: green;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    /* margin-left: 70px; */
    letter-spacing: 1px;
}

.desk-years {
    display: flex;
    width: 120px;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.desk-years-mobile,
.footer-mobile,
.job-mobile {
    display: none;
}




.desk-hobby {
    text-align: center;
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.footer-container-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-footer {
    width: 50px;
    height: 50px;
    background-image: url("assets/images/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid rgb(24, 26, 24);
    border-radius: 50%;
}

.footer-job {
    /* background-color: #fff; */
    /* width: 160px;    */
    font-size: 17px;
    color: #222222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    letter-spacing: 0.5px;
}

.nav-mobile-list {
    display: none;
}

.job-mobile {
    font-family: 'Satoshi-Medium' !important;
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}

.foto {
    width: 70%;
    border-radius: .5em;
}


/* REsponsive tablet */

@media screen and (max-width: 768px) {
    .desktop {
        display: block;
    }

    .foto {
        width: 40%;
    }

    .desk-hobby {
        font-size: 1em;
    }

    .text-desktop,.container .notif {
        display: none;
    }

    .nav-container {
        padding-bottom: 0;
    }

    .nav-list {
        display: none;
    }

    .footer-container-home {
        display: none;
    }

    .nav-mobile-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1em;
        margin: 0;
        border-bottom: dashed 1px #333;
        width: 100%;
    }

    .description {
        padding: 30px 0;
        font-size: 4em;
    }

    .img {
        padding: 10px 0;
        overflow-x: auto;
        display: flex;
        cursor: pointer;
    }

    .img::-webkit-scrollbar {
        width: 0;
    }

    .gmail-desk,
    .desk-years {
        display: none;
    }

    .img {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: row;
    }

    .desk-years-mobile,
    .footer-mobile,
    .job-mobile {
        display: flex;
    }

}

/* tablet selesai */




/* Responsive Hp Kecil  */

@media screen and (max-width: 425px) {

    .nav-list li a {
        font-size: 10px;
    }

    .desk-years-mobile {
        display: flex;
    }

    .footer-mobile {
        display: flex;
    }

    .job-mobile {
        font-size: 12px;
    }

    .description {
        font-size: 3em;
    }
}


/* Responsive Hp Kecil Selesai */





/* Bagian Gambar */

.img-home {
    margin: .5em;
    transition: .5s;
    border-radius: .5em;
}

.img-home:hover {
    box-shadow: 0 0 2em -9px #333;
    transform: translateY(-5px);
}

.img-1 {
    top: 115px;
    left: 450px;
    width: 104px;
}

.img-2 {
    top: 110px;
    left: 580px;
    width: 300px;
}

.img-3 {
    top: 110px;
    left: 810px;
    width: 100px;
}

.img-4 {
    top: 260px;
    left: 450px;
    width: 180px;
}

.img-5 {
    background-image: url('./assets/images/nezuko.gif');
    background-size: cover;
    /* width: 180px; */
    /* height: 180px; */
    background-position: center;
}

/* Bagian Gambar Selesai */